body {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-size: 5em;
  margin: 1em;
}

a {
  color: gray;
  text-decoration: none;
}

@media (min-width: 641px) { body { font-size: 16pt } }
@media (min-width: 961px) { body { font-size: 20pt } }
@media (min-width: 1281px) { body { font-size: 24pt } }
